* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  background-color: rgb(202, 162, 102);
  display: flex;
  justify-content: center;
  align-items: center;

  
}
h1{
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 200;
  margin-bottom: 10px;

}
h2 {
  font-size: 2rem;
}

.playfield{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.App {
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cards-btn {
  display: block;
  padding:0px;
  
}

.game {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  padding: 0px;
  transition: all 1s ease-in-out;
}

button {
  border: none;
  background-color: transparent;
}

.nochmalSpielen-btn {
  margin-top: 20px;
  color: white;
  background: #3f5efb;
  background: linear-gradient(
    216deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 5px;
  padding: 10px 20px;
}


@media (max-width:500px){
  img {
    width: 120px;
  }
  .App {
    width: 400px;

  }

  .game{
    margin:5px;
  }
}